<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>
<div class="container">
  <form action="/answer" method="get" data-turbo="false">
    <input class="form-control" type="text" name="question">
    <input class="form-control" type="submit" value="Ask!">
  </form>
</div>